#id1 {
   color : red ;
}
#id2 {
    color : red ;
 }
 

.classTiti{
    color : green;
    
}

.classTitiGras{
    font-family : bold;
}

.classToto{
    color : rgb(19, 33, 228);
}

H1 {
    color: red;
}
